body {
  background-color: rgba(249, 247, 254);
  font-family: "Roboto", sans-serif;
}
.weather-app {
  background: linear-gradient(
    178.6deg,
    rgb(232, 245, 253) 3.3%,
    rgb(252, 253, 255) 109.6%
  );
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.weather-app-details {
  color: rgba(39, 33, 66, 0.4);
}
.weather-app-details #humidity {
  color: #3ab1c8;
}
.weather-app-details #wind-speed {
  color: #3ab1c8;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
}

.search-form-button {
  background: #3ab1c8;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: #475053;
}

main {
  padding: 30px 0;
}

a {
  color: #3ab1c8;
}
a:hover {
  color: #2772db;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  font-weight: 500;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  color: #475053;
}
.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
  color: #475053;
}
.weather-forecast {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: #3ab1c8;
}
.weather-forecast-icon {
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  display: flex;
  justify-content: space-evenly;
  color: #3ab1c8;
  padding-top: 10;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
